header{
  background-color: rgb(247, 247, 247);
  padding-left: 15%;
  padding-right: 15%;
}

header img{
  height: 50px;
}

#logo img{
    height: 50px;
}

nav{
  margin-left: 5em;
}

.nav-icon {
    height: 50px;
}

.custom-badge {
    font-size: 0.6em;
}

.search-label {
    font-size: 0.8em;
}

.search-btn {
    width: 48px;
    height: 48px;
}

.search-icon {
    font-size: 1em;
}

.mobile-search-icon {
    font-size: 1em;
}

.mobile-filter-icon {
    font-size: 0.8em;
}

footer{
  background-color: rgb(247, 247, 247);
  padding: 5em;
  padding-left: 15% !important;
  padding-right: 15% !important;
}